html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  background: #f4f5f7;
  color: rgba(3,27,78,0.7);
}

em {
  color: rgba(3,27,78,0.7) !important;
}

h1, .uk-h1, h2, .uk-h2, h3, .uk-h3, h4, .uk-h4, h5, .uk-h5, h6, .uk-h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0 0 20px 0;
  font-weight: normal;
  color: #031b4e;
  text-transform: none;
}

li {
  margin-bottom: 8px;
}

thead tr th {
  border-top: 1px solid #ddd;
}

.uk-section {
  padding: 0px;
  padding-top: 30px;
}

.uk-card-default {
  color: rgba(3,27,78,0.7) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12);
  box-shadow: 0 1px 3px rgba(0,0,0,.12);
  border: 0;
}

.uk-card-secondary {
  background-color: #1e87f0;
}

.uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped>tr:nth-of-type(odd), .uk-list-striped>li:nth-of-type(odd) {
  background: #e6e6e6;
}

.uk-table-small td, .uk-table-small th {
  padding: 6px 12px;
}

.uk-alert-danger {
  background: #fef4f6;
  color: #f0506e;
  border: 1px dashed #ff1e1e;
}

.uk-alert-primary {
  background: #d8eafc;
  color: #1e87f0;
  border: 1px dashed;
}

.uk-notification-message {
  position: relative;
  top: 15px;
  left: -15px;
  background: #aacef4;
  color: #031a4e;
  border: 1px dashed #031a4e;
  cursor: pointer;
  font-size: .8em;
}

.uk-pagination>*>* {
  color: #1e87f0;
}

.uk-subnav>*>:first-child {
  color: #1e87f0;
}

.uk-card-default .uk-card-title {
  color: #031b4e;
}

#featurettes .uk-background-cover, #stickies img {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
  box-shadow: 0 1px 3px rgba(0,0,0,.12);
}