algoliasearch==1.20.0
bcrypt==3.1.6
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
Click==7.0
Cython==0.29.6
Flask==1.0.2
Flask-Caching==1.6.0
Flask-Login==0.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.1
mistune==0.8.4
pycparser==2.19
python-dotenv==0.10.1
requests==2.21.0
six==1.12.0
urllib3==1.24.1
Werkzeug==0.15.1
WTForms==2.2.1