<html lang="it">

<head>
  {% include 'head.html' %}
</head>

<body>

  <!-- Nav -->
  {% block navbar %}
    {% include 'navbar.html' %}
  {% endblock %}

  <!-- Main -->
  <div class="uk-container uk-margin-large-bottom">

    <!-- Flashes -->
    {% include 'flashes.html' %}

    <!-- Content -->
    {% block content %}
    {% endblock %}

  </div>

  <!-- JS scripts -->
  <script src="{{ url_for('static', filename='js/vendor/uikit.js') }}" ></script>
  <script src="{{ url_for('static', filename='js/vendor/uikit-icons.min.js') }}" ></script>

  <!-- Additional scripts  -->
  {% block scripts %}
  {% endblock %}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23103868-12"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23103868-12');
  </script>

</body>

</html>