<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Sippas website">
<meta name="author" content="Pierpaolo Calanna">

<title>Sippas</title>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/uikit.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">