{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="uk-section">
  <div class="uk-grid uk-margin-large-bottom">
    <div class="uk-width-4-5@m">
      <h2 class="uk-heading-divider">Elenco articoli</h2>
      <div class="uk-margin-bottom">
        <ul class="uk-pagination uk-margin-remove-bottom">
          <li>
            <a href="{{ url_for('blog.dashboard_prev', id=posts[0].id) }}" class="pagination-previous">
              <span class="uk-margin-small-right" uk-pagination-previous></span> Più recenti
            </a>
          </li>
          <li>
            <a href="{{ url_for('blog.dashboard_next', id=posts[-1].id) }}" class="pagination-next">
              Meno recenti <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>

      <table class="uk-table uk-table-small uk-table-striped uk-margin-remove-top">
        <thead>
          <tr>
            <th style="width:10%">LINK</th>
            <th class="uk-visible@s uk-text-center" style="width:3%">Id</th>
            <th class="uk-visible@s uk-text-center" style="width:3%">Evid.</th>
            <th style="width:43%">Titolo</th>
            <th class="uk-visible@m" style="width:42%">Etichette</th>
          </tr>
        </thead>
        <tbody>
          {% for p in posts %}
          <tr>
            <td>
              <a href="{{ url_for('blog.view_post', id=p.id) }}"><span uk-icon="file-text"></span></a><a
                href="{{ url_for('blog.edit_post', id=p.id) }}"><span uk-icon="file-edit"></span></a>
            </td>
            <td class="uk-text-center uk-visible@s">
              {{ p.id }}
            </td>
            <td class="uk-text-center uk-visible@s">
              {% if p.is_sticky %}
              <span class="uk-margin-small-right" uk-icon="check"></span>
              {% else %}
              <span>-</span>
              {% endif %}
            </td>
            <td class="uk-text-truncate">
              {{ p.title | capitalize }}
            </td>
            <td class="uk-text-truncate uk-visible@m">
              {{ p.tags }}
            </td>
          </tr>
          {% else %}
          <tr>
            <td class="uk-text-muted uk-text-small uk-text-center" colspan="4" style="font-style: italic">
              nessun articolo trovato
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="uk-margin-top">
        <ul class="uk-pagination">
          <li>
            <a href="{{ url_for('blog.dashboard_prev', id=posts[0].id) }}" class="pagination-previous">
              <span class="uk-margin-small-right" uk-pagination-previous></span> Più recenti
            </a>
          </li>
          <li>
            <a href="{{ url_for('blog.dashboard_next', id=posts[-1].id) }}" class="pagination-next">
              Meno recenti <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="uk-width-expand">
      <div class=" uk-margin-medium-bottom">
        <h2 class="uk-heading-divider">Modifica lampo</h2>
        <span class="uk-text-small">Inserisci ID articolo</span>
        <form method="post" class="uk-grid uk-grid-small uk-grid-collapse uk-margin-small-top">
          <div class="uk-width-3-5">
            {{ form.id(class="uk-input") }}
            {{ form.csrf_token }}
          </div>
          <div class="uk-width-1-5">
            <button class="uk-button uk-button-primary" type="submit">ok</button>
          </div>
        </form>
      </div>
      <div class=" uk-margin-medium-bottom">
        <h2 class="uk-heading-divider">Azioni</h2>
        <a href="{{ url_for('blog.create_post') }}">Crea nuovo articolo</a><br>
        <a href="{{ url_for('blog.reset_stickies') }}">Annulla articoli in evidenza</a><br>
        <a href="{{ url_for('blog.blog_preview') }}">Anteprima del blog</a><br><br>
        <span class="uk-text-small"><b>Heads up!</b> Solo per notizie urgenti che necessitano di essere visibili immediatamente.</span>
        <div class="uk-margin-small-top"></siv><a href="{{ url_for('blog.clear_cache') }}">Cancella cache del blog</a></div>
      </div>
      <div class=" uk-margin-medium-bottom">
        <h2 class="uk-heading-divider">Filtra</h2>
        <a href="{{ url_for('blog.dashboard') }}">Tutti gli articoli</a><br>
        <a href="{{ url_for('blog.dashboard_sticky') }}">Solo articoli in evidenza</a><br><br>
        <a href="{{ url_for('users.logout') }}">Logout &rarr;</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}