{% extends 'base.html' %}

{% block content %}
<div class="uk-section">
  <div class="uk-grid uk-margin-large-bottom">
    <div class="uk-width-expand">
      <h2 class="uk-heading-divider">Filtra</h2>
      <p>
        <a href="{{ url_for('blog.dashboard') }}">Tutti gli articoli</a><br>
        <a href="{{ url_for('blog.dashboard_sticky') }}">Solo articoli in evidenza</a><br>
      </p>
      <h2 class="uk-heading-divider">Azioni</h2>
      <p>
        <a href="{{ url_for('blog.create_post') }}">Crea nuovo articolo</a><br>
        <a href="{{ url_for('blog.reset_stickies') }}">Annulla articoli in evidenza</a><br><br>
        <a href="{{ url_for('users.logout') }}">Logout</a>
      </p>
    </div>
    <div class="uk-width-4-5">
      <h2 class="uk-heading-divider">Elenco articoli</h2>
      <div>
        <ul class="uk-pagination">
          <li>
            <a href="{{ url_for('blog.dashboard_prev', id=posts[0].id) }}" class="pagination-previous">
              <span class="uk-margin-small-right" uk-pagination-previous></span> Più recenti
            </a>
          </li>
          <li>
            <a href="{{ url_for('blog.dashboard_next', id=posts[-1].id) }}" class="pagination-next">
              Meno recenti <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>
      <table class="uk-table uk-table-small uk-table-striped">
        <thead>
          <tr>
            <th style="width:7%"></th>
            <th style="width:5%">Id</th>
            <th style="width:3%">Evid.</th>
            <th style="width:40%">Titolo</th>
            <th style="width:40%">Etichette</th>
          </tr>
        </thead>
        <tbody>
          {% for p in posts %}
          <tr>
            <td>
              <a  href="{{ url_for('blog.view_post', id=p.id) }}"><span uk-icon="file-text"></span></a><a href="{{ url_for('blog.edit_post', id=p.id) }}"><span uk-icon="file-edit"></span></a>
            </td>
            <td>
              {{ p.id }}
            </td>
            <td class="uk-text-center">
              {% if p.is_sticky %}
                <span class="uk-margin-small-right" uk-icon="check"></span>
              {% else %}
              <span>-</span>
              {% endif %}
            </td>
            <td class="uk-text-truncate">
              {{ p.title | capitalize }}
            </td>
            <td>
              {{ p.tags }}
            </td>
          </tr>
          {% else %}
          <tr>
            <td class="uk-text-muted uk-text-small uk-text-center" colspan="4" style="font-style: italic">
              nessun articolo trovato
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <ul class="uk-pagination">
          <li>
            <a href="{{ url_for('blog.dashboard_prev', id=posts[0].id) }}" class="pagination-previous">
              <span class="uk-margin-small-right" uk-pagination-previous></span> Più recenti
            </a>
          </li>
          <li>
            <a href="{{ url_for('blog.dashboard_next', id=posts[-1].id) }}" class="pagination-next">
              Meno recenti <span class="uk-margin-small-left" uk-pagination-next></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}