{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<style>
  #tags {
    list-style-type: none;
    padding-left: 0;
  }

  #instruction-list {
    padding-left: 18px;
  }

  #tags li {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
  }
</style>
<div class="uk-section">
  <div>
    <h2 class="uk-heading-divider">Dati dell'articolo
      {% if post %}
      - <a href="{{ 'data:text/plain;base64,' }}{{ post.body | b64_encode }}" download="data.md">id: {{ post.id  }}
      </a>
      {% endif %}
    </h2>
  </div>
  <div>
    <form novalidate method="post" enctype="multipart/form-data" class="uk-margin-top">
      
      <div class="uk-width-1-1">
        <div class="uk-margin-top">
          {{ render_field(form.title) }}
        </div>
      </div>

      <div class="uk-grid uk-child-width-1-2@s uk-margin-small-top">
        <div class="uk-margin-top">
          <h3 class="uk-heading-divider">Etichette</h3>
          <p class="uk-text-small">Seleziona fino a un massimo di tre etichette per categorizzare l'articolo.</p>
          {{ render_field(form.tags) }}
        </div>
        <div class="uk-margin-top">
          <h3 class="uk-heading-divider">File da caricare</h3>
          <ul id="instruction-list" class="uk-text-small">
            <li><b>Immagine</b>: risoluzione consigliata 800 x 800 px; dimensione max di 512 KByte.</li>
            <li><b>Immagine</b>: il nome del file non può contenere caratteri speciali (es., #).</li>
            <li><b>Testo</b>: il testo deve essere in formato MARKDOWN <a href="https://www.markdownguide.org/cheat-sheet/"
                target="_blank">(leggi la guida in linea)</a>.</li>
          </ul>
          <table class="uk-table uk-table-small uk-text-small uk-table-striped uk-margin-top">
            <tr>
              <td>File immagine</td>
              <td>{{ render_field(form.teaser) }}</td>
            </tr>
            <tr>
              <td>File testo MARKDOWN</td>
              <td>{{ render_field(form.md) }}</td>
            </tr>
          </table>
          {{ form.csrf_token }}
        </div>
      </div>
      <div class="uk-margin">
        {{ render_field(form.is_sticky) }}
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary" type="submit">Applica</button>
      </div>
    </form>
    {% if post %}
    <form method="post" action="{{ url_for('blog.delete_post', id=post.id) }}">
      <button class="uk-button uk-button-link uk-text-small" type="submit">Elimina
        articolo</button><br>
      <span class="uk-text-small">(Heads up! Operazione irreversibile)</span>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}