{% extends 'base.html' %}

{% block content %}
<div class="uk-section">
  <div class="uk-container">

    <div class="uk-grid">
      <div class="uk-width-expand@m">

        <h2 class="uk-heading-divider">Elenco dei soci </h2>
        <b>☆ Dott. Gualberto Arduino, Presidente</b><br>
        <b>☆ Dott. Franco Garonna, Vice-Presidente</b><br>
        <b>☆ Dott. Simeone Izzo, Tesoriere</b>
       
        
        <table class="uk-table  uk-table-striped uk-table-small uk-margin-top">
          <thead>
              <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Professione</th>
                  <th>Socio dal</th>
                  <th>Affiliazione</th>
              </tr>
          </thead>
          <tbody>
              <tr><td>Domenico</td><td>Abbenante</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Shalom</td><td>Addari</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Alessandra</td><td>Amendola</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Fabrizio</td><td>Angelini</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Gualberto</td><td>Arduino</td><td>Psichiatra</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Rosa Mercede</td><td>Assenza Parisi</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Francesca</td><td>Bartoccini</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Lucia</td><td>Blonda</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Cecilia</td><td>Boninsegna</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Antonella</td><td>Buccione</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Pierpaolo</td><td>Calanna</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Alessandro</td><td>Casciotta</td><td>Psichiatra</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Valeria</td><td>Ceci</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Sabrina</td><td>Celestini</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Antonio</td><td>Chiatante</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Antonio</td><td>Cozzolino</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Stefano</td><td>De Porzi</td><td>Psichiatra</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Lia</td><td>De Zorzi</td><td>Psicologo</td><td>1/1/2013</td><td>INPS</td></tr>
              <tr><td>Claudia</td><td>Del Bello</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Alberto</td><td>Del Duca</td><td>Ufficiale</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Anna Carmela</td><td>Facecchia</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Mariabeatrice</td><td>Filici</td><td>Medico</td><td>1/1/2013</td><td>ASL</td></tr>
              <tr><td>Anna Claudia</td><td>Filippelli</td><td>Psichiatra</td><td>1/1/2013</td><td>ASL</td></tr>
              <tr><td>Pierluigi</td><td>Fortezza</td><td>Medico</td><td>1/1/2013</td><td>Ministero Interni</td></tr>
              <tr><td>Franco</td><td>Garonna</td><td>Psichiatra</td><td>1/1/2013</td><td>ASL</td></tr>
              <tr><td>Vita</td><td>Gatti</td><td>Psichiatra</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Manuela</td><td>Gianantoni</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Simeone</td><td>Izzo</td><td>Psichiatra</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Marco</td><td>Lauriola</td><td>Professore Ordinario</td><td>1/1/2013</td><td>Università</td></tr>
              <tr><td>Antonia</td><td>Mameli Engvall</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Sonia</td><td>Merolla</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Ilaria</td><td>Montanino</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Raffaele</td><td>Orsitto</td><td>Ufficiale</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Maura</td><td>Pambianco</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Giovanni</td><td>Pignorio</td><td>Psichiatra</td><td>1/1/2013</td><td>ASL</td></tr>
              <tr><td>Paola</td><td>Plastina</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Paola</td><td>Poeta</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Simone</td><td>Pratesi</td><td>Psicologo</td><td>1/1/2013</td><td>Libero professionista</td></tr>
              <tr><td>Alessandro</td><td>Rauccio</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Francesco</td><td>Rizzo</td><td>Perito Selettore</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Davide</td><td>Veglianti</td><td>Psicologo</td><td>1/1/2013</td><td>Forze Armate</td></tr>
              <tr><td>Eugenio</td><td>Velardi</td><td>Medico</td><td>1/1/2013</td><td>Forze Armate</td></tr>
          </tbody>
        </table>
        

      </div>

      <!-- sidebar -->

      <div class="uk-width-1-3@m uk-visible@l">
       
        <h2 class="uk-heading-divider">Modalità di Iscrizione</h2>
        <div>
          <p>La <u>quota una tantum</u> è di 50,00 €. Effettua il pagamento, stampa il modulo di iscrizione, compilalo e
            invialo:
          </p>
          <ul>
            <li>per email a: info@sippas.it</li>
            <li>per posta a: Ass.ne SIPPAS, Via Roma 122 scala A int. 5, 00012 Guidonia (RM)</li>
          </ul>
          <p>Ricordati di allegare copia del versamento sul seguente c/c bancario: IBAN
            IT-30-I-07601-03200-000087882056, intestato a: Associazione scientifica Sippas, causale: iscrizione.</p>
        </div>

        <h2 class="uk-heading-divider uk-margin-medium-top">Donazioni 5 x mille</h2>
        <ul class="uk-subnav uk-subnav-pill" uk-switcher="">
          <li aria-expanded="true" class="uk-active"><a href="#">Cosa</a></li>
          <li aria-expanded="false"><a href="#">Quanto</a></li>
          <li aria-expanded="false"><a href="#">Come</a></li>
        </ul>
        <ul class="uk-switcher uk-margin">
          <li class="uk-active">
            <p>È una quota di imposte (Irpef) a cui lo Stato rinuncia per destinarla alle organizzazioni no-profit a
              sostegno delle loro attività.</p>
          </li>
          <li>
            <p>Il 5 x mille non costa nulla per il cittadino contribuente che esprime semplicemente la sua preferenza a
              chi donarlo.</p>
          </li>
          <li>
            <p>Nel modello della dichiarazione dei redditi c'è una sezione dedicata al 5 per mille. In questa sezione
              dovrai specificare il nostro CF: 94048350584.</p>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>
{% endblock %}