{% extends 'base.html' %}

{% block content %}
<div class="uk-section">
  <div class="uk-container">

    <div class="uk-grid">
      <div class="uk-width-expand@m">

        <!-- INCIPIT -->
        <h2 class="uk-heading-divider">Elenco dei soci </h2>
        <b>☆ Presidente</b> Dott. Gualberto Arduino<br>
        <b>☆ Vice-Presidente</b> Dott. Franco Garonna<br>
        <b>☆ Tesoriere</b> Dott. Simeone Izzo<br>

        <div class="uk-margin">
          Scarica: <a href="{{ url_for('static', filename='docs/sippas_associazione.pdf') }}"
            target="_blank">Costituzione</a>,
          <a href="{{ url_for('static', filename='docs/sippas_statuto.pdf') }}" target="_blank">Statuto</a>
        </div>

        <!-- LISTA DEGLI ISCRITTI -->
        <table class="uk-table  uk-table-striped uk-table-small uk-margin-top uk-margin-medium-bottom">
          <thead>
            <tr>
              <th style="width:25%">Nome</th>
              <th style="width:25%">Cognome</th>
              <th class="uk-visible@s">Professione</th>
              <th class="uk-visible@s uk-text-center" style="width:15%">Socio dal</th>
            </tr>
          </thead>
          <tbody>
            {% for m in members %}
            <tr>
              <td class="uk-text-truncate">{{ m["first_name"] }}</td>
              <td class="uk-text-truncate">{{ m["last_name"] }}</td>
              <td class="uk-text-truncate uk-visible@s">{{ m["job"] }} - {{ m["affiliation"] }}</td>
              <td class="uk-visible@s uk-text-center">{{ m["member_since"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- SIDEBAR -->
      <div class="uk-width-1-3@m">

        <!-- ISCRIZIONE -->
        <h2 class="uk-heading-divider">Modalità di Iscrizione</h2>
        <div>
          <p>La <u>quota una tantum</u> è di 50,00 €. Effettua il pagamento, stampa il
            <a href="{{ url_for('static', filename='docs/iscrizione.pdf') }}" download="iscrizione.pdf">modulo di
              iscrizione</a>, compilalo einvialo:
          </p>
          <ul>
            <li>per email a: info@sippas.it</li>
            <li>per posta a: Ass.ne SIPPAS, Via Roma 122 scala A int. 5, 00012 Guidonia (RM)</li>
          </ul>
          <p>Ricordati di allegare copia del versamento sul seguente c/c bancario: IBAN
            IT-30-I-07601-03200-000087882056, intestato a: Associazione scientifica Sippas, causale: iscrizione.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}