{% extends 'base.html' %}

{% block content %}
<div class="uk-section">
  <div class="uk-container">
    <div class="uk-grid uk-grid-large ">
      <div class="uk-width-2-3@m uk-margin-bottom">
        <h2 class="uk-heading-divider">Elenco dei servizi</h2>
        <div class="uk-column-1-1">
          <p>Oggi molte società di selezione del personale propongono i loro servizi sul mercato e può essere difficile
            per il cliente individuare il gruppo di professionisti più giusto.</p>
          <p>Molto dipende dal tipo di selezione che si desidera realizzare, dai profili professionali ricercati, dalle
            risorse finanziarie a disposizione e dal contesto aziendale di riferimento.</p>
          <p>L'associazione SIPPAS è specializzata nella valutazione psichiatrica e psicologica delle seguenti
            caratteristiche personologiche:</p>
          <ul>
            <li>salute mentale;</li>
            <li>stabilità e benessere emotivo;</li>
            <li>tolleranza allo stress;</li>
            <li>capacità di controllo;</li>
            <li>hardiness (solodità psicologica);</li>
            <li>resilienza (resistenza/recupero psicologico e crescita);</li>
            <li>assunzione controllata del rischio.</li>
          </ul>
          <p>Oltre a questo, l'associazione SIPPAS propone interventi riabilitativi a favore di lavoratori che
            manifestano disturbi psicologici e/o psichiatrici.</p>
          <p>Non esitare a contattarci se ritieni di aver bisogno di un piano di intervento e di recupero delle risorse
            alle tue dipendenze.</p>
        </div>
        <h2 class="uk-heading-divider uk-margin-medium-top">Contattaci</h2>
        <div class="uk-column-1-1">
            <p>Associazione SIPPAS Via Roma 122 Scala A Int. 5, 00012 Guidonia (RM) - info@sippas.it</p>
        </div>
      </div>
      <div class="uk-width-expand@s">
          <h2 class="uk-heading-divider">Abbiamo collaborato con</h2>

          <h3 class="uk-margin-remove-bottom uk-margin-top">Consorzio Humanitas</h3>
          <span class="uk-text-small"><a class="uk-link uk-link-text" href="http://www.consorziohumanitas.com/" target="_blank">
              http://www.consorziohumanitas.com/
            </a></span>

          <h3 class="uk-margin-remove-bottom uk-margin-top">Coasta Crociere</h3>
          <span class="uk-text-small"><a class="uk-link uk-link-text" href="https://www.costacrociere.it/" target="_blank">
              https://www.costacrociere.it/
            </a></span>

          <h3 class="uk-margin-remove-bottom uk-margin-top">Agusta Westland</h3>
          <span class="uk-text-small"><a class="uk-link uk-link-text" href="http://www.leonardocompany.com/" target="_blank">
              http://www.leonardocompany.com/
            </a></span>
      </div>
    </div>
  </div>
</div>
{% endblock content %}