{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="uk-section">
  <div class="uk-container">
    <h2 class="uk-heading-divider">Login</h2>
    <p>Area riservata del sito. Accedi usando la tue credenziali.</p>
    <form method="post" novalidate>
      {% for field in form  %}
        <div class="uk-margin uk-width-large">
          {{ render_field(field) }}
        </div>
      {% endfor %}
      <div class="uk-margin uk-width-large">
        <button class="uk-button uk-button-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}